/*body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}*/

/* background : color image repeat position/size*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --icon-color-hover: rgba(255, 255, 255, 0.2);
  --theme: url(./assets/sun.svg);
  --box: rgba(182, 180, 180, 0.25) 0px 10px 20px,
    rgba(182, 180, 180, 0.12) 0px -5px 10px,
    rgba(182, 180, 180, 0.12) 0px 2px 4px, rgba(182, 180, 180, 0.17) 0px 6px 8px,
    rgba(0, 0, 0, 0.09) 0px -2px 3px;
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-ligth.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.3);
  --icon-color-hover: rgba(0, 0, 0, 0.3);
  --theme: url(./assets/moon-stars.svg);
  --box: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.12) 0px -5px 10px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.17) 0px 6px 8px,
    rgba(0, 0, 0, 0.09) 0px -2px 3px;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}
html {
  transition: background 0.5s;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  /* na borda a ordem é tamanho, tipo, cor
  border: 1px solid red;*/
  margin: 56px auto 0px;
  padding: 0 24px;
}
/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* theme */
#theme {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.select {
  border: solid red 1px;
}

#theme button {
  width: 32px;
  height: 32px;
  background: white var(--theme) no-repeat center;
  border-radius: 50%;
  border: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  animation: slide-back 0.4s;
}
.light #theme button {
  animation: slide-in 0.4s forwards;
}

.light #theme button:hover {
  box-shadow: var(--box);
  transition: 0.4s;
}

#theme button:hover {
  box-shadow: var(--box);
  transition: 0.4s;
}

#theme span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links*/

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
  border-radius: 8px;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--icon-color-hover);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
